<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Booking service</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/css/booking.css}" rel="stylesheet" />
    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div>
        <div class="navbar" style="width: 601px;">
            <div class="navbar-inner">
                <ul class="nav">
                    <li style="width: 100px;"><a th:href="@{/users/find}"><i class="icon-user"></i>Users</a></li>
                    <li style="width: 100px;"><a th:href="@{/}"><i class="icon-eye-open"></i>Events</a></li>
                    <li style="width: 100px;"><a th:href="@{/}"><i class="icon-film"></i>Tickets</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2>User Information</h2>

    <table class="table table-striped" style="width:600px;">
        <tr>
            <th>ID</th>
            <td><b th:text="${user.id}">[ID]</b></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${user.name}">[name]</td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${user.email}">[email]</td>
        </tr>
         <tr>
            <td> 
            	<a th:href="@{/users/{id}/edit(id=${user.id})}" href="createOrUpdateUserForm.html" class="btn btn-info">Edit User</a>
            </td>
             <td>
                 <a th:href="@{/tickets/{userId}/download(userId=${user.id})}" class="btn btn-light">Download ticket details (PDF)</a>
             </td>
        </tr>
    </table>
</div>

</body>

</html>
